
{% extends 'base.html.twig' %}

{% block title %}Categories{% endblock %}

{% block body %}
<h1>Categories</h1>

<a href="{{ path('category_new') }}" class="btn btn-success">Add New Category</a>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.name }}</td>
                <td>{{ category.description }}</td>
                <td>
                    <a href="{{ path('category_edit', {id: category.id}) }}" class="btn btn-primary">Edit</a>
                    <form action="{{ path('category_delete', {id: category.id}) }}" method="post" style="display:inline-block;">
                        <input type="hidden" name="_method" value="DELETE">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
